

.main{
    width: 70%;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    color: white;
}

.devimg1 {

    margin: 20px;
    margin-top: 90px;
    width: 20px;
    height: 30px;
}
    img{
        width: 300px;
        float: left;
        margin: 20px;
        border-radius: 20px;
    }
.devinfo1 {  
    width: 70%;
    margin: auto;
    margin-top: 180px;
    margin-right: 20px;
    font-size: 22px;
}

