
.devskills{
    width: 80%;
    margin: auto;
    padding: 50px;
}
.row1{
    width: 43%;
    height: 350px;
    float: left;
    margin: 23px;
}
.row1:hover{
    cursor: pointer;
	transform: scale(1.1);
}

.row2{
    width: 43%;
    height: 350px;
    float: right;
    margin: 23px;
}
.row2:hover{
    cursor: pointer;
	transform: scale(1.1);  
}

.row3{
    width: 43%;
    height: 350px;
    float: left;
    margin: 23px;
}
.row3:hover{
    cursor: pointer;
	transform: scale(1.1); 
}

.row4{
    width: 43%;
    height: 350px;
    float: right;
    margin: 23px;
    float: right;
}
.row4:hover{
    cursor: pointer;
	transform: scale(1.1);
}

b{
    font-size: 30px;
}
b:hover{
 color: rgb(173, 78, 19);;
}
p{
    font-size: 16px;
}
